/* Global Styles */
@font-face {
  font-family: "pt-serif-reg";
  src: url("../font/pt-serif/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pt-serif-bold";
  src: url("../font/pt-serif/PTSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "pt-serif-italic";
  src: url("../font/pt-serif/PTSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "yeseva-one";
  src: url("../font/yeseva-one/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "higuen-serif";
  src: url("../font/higuen/higuen-serif.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kenao";
  src: url("../font/kenao/kenao.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lancelot";
  src: url("../font/lancelot/lancelot.ttf") format("truetype");
}
