/* Keyframes for pop-up animation */
@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Initially hide the images */
.pop-up-img {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Animation class for when the section is in view */
.pop-up {
  animation: popUp 2s forwards;
}

@keyframes moveBackForth {
  0% {
    transform: translateY(0); /* Starting point */
  }
  50% {
    transform: translateY(5px); /* Move 20px to the right */
  }
  100% {
    transform: translateY(0); /* Move back to the starting point */
  }
}

/* Apply the animation to the image */
.moving-image {
  animation: moveBackForth 4s ease-in-out infinite; /* 4 seconds duration, smooth easing, infinite loop */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.1); /* Zoom in to 120% */
  }
  100% {
    transform: scale(1); /* Zoom out back to normal size */
  }
}

/* Apply the animation to the image */
.zoom-image {
  z-index: -1;
  animation: zoomInOut 4s ease-in-out infinite; /* 4 seconds duration, smooth easing, infinite loop */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}

@keyframes zoomInOutCenter {
  0% {
    transform: translateX(-50%) scale(1.1); /* Start at normal size and centered */
  }
  50% {
    transform: translateX(-50%) scale(1); /* Zoom in and stay centered */
  }
  100% {
    transform: translateX(-50%) scale(1.1); /* Zoom out and stay centered */
  }
}

.zoom-image-center {
  z-index: -1;
  animation: zoomInOutCenter 4s ease-in-out infinite; /* 4 seconds duration, smooth easing, infinite loop */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}

@keyframes zoomMove {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(5px) scale(1.1); /* Move 20px and zoom in */
  }
  100% {
    transform: translateY(0) scale(1); /* Move back and zoom out */
  }
}

/* Apply the animation */
.moving-zoom-image {
  animation: zoomMove 4s ease-in-out infinite;
}

/* Keyframes for zooming and rotating */
@keyframes zoomRotate {
  0% {
    transform: scale(1) rotate(0deg); /* Start at normal size and no rotation */
  }
  50% {
    transform: scale(1.1) rotate(5deg); /* Zoom in and rotate 180 degrees */
  }
  100% {
    transform: scale(1) rotate(0deg); /* Zoom out and complete the rotation */
  }
}

/* Apply the animation to the image */
.zoom-rotate-image {
  animation: zoomRotate 6s ease-in-out infinite; /* 6 seconds duration, smooth easing, infinite loop */
  transform-origin: center center; /* Ensure zoom and rotation happen from the center */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}
