/* Global Styles */
@font-face {
  font-family: "the-seasons-reg";
  src: url("font/the-seasons/the-seasons-regular.ttf") format("truetype");
}

@font-face {
  font-family: "the-seasons-bd";
  src: url("font/the-seasons/the-seasons-bold.ttf") format("truetype");
}

@font-face {
  font-family: "the-seasons-italic";
  src: url("font/the-seasons/the-seasons-italic.ttf") format("truetype");
}

@font-face {
  font-family: "the-seasons-light";
  src: url("font/the-seasons/the-seasons-light.ttf") format("truetype");
}

/* Keyframes for pop-up animation */
@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 85%;
  }

  p,
  a {
    font-size: 90%;
  }

  .header h4,
  h1 {
    font-size: 80%;
  }

  .invitation img {
    width: 100px;
  }

  .invitation .pop-up-img {
    padding-bottom: 50px;
  }

  .info {
    font-size: 85%;
  }
}

/* Initially hide the images */
.pop-up-img {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Animation class for when the section is in view */
.pop-up {
  animation: popUp 2s forwards;
}

@keyframes moveBackForth {
  0% {
    transform: translateY(0); /* Starting point */
  }
  50% {
    transform: translateY(5px); /* Move 20px to the right */
  }
  100% {
    transform: translateY(0); /* Move back to the starting point */
  }
}

/* Apply the animation to the image */
.moving-image {
  animation: moveBackForth 4s ease-in-out infinite; /* 4 seconds duration, smooth easing, infinite loop */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.1); /* Zoom in to 120% */
  }
  100% {
    transform: scale(1); /* Zoom out back to normal size */
  }
}

/* Apply the animation to the image */
.zoom-image {
  position: relative;
  z-index: -1;
  animation: zoomInOut 4s ease-in-out infinite; /* 4 seconds duration, smooth easing, infinite loop */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}

@keyframes zoomMove {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(5px) scale(1.1); /* Move 20px and zoom in */
  }
  100% {
    transform: translateY(0) scale(1); /* Move back and zoom out */
  }
}

/* Apply the animation */
.moving-zoom-image {
  animation: zoomMove 4s ease-in-out infinite;
}

/* Keyframes for zooming and rotating */
@keyframes zoomRotate {
  0% {
    transform: scale(1) rotate(0deg); /* Start at normal size and no rotation */
  }
  50% {
    transform: scale(1.1) rotate(5deg); /* Zoom in and rotate 180 degrees */
  }
  100% {
    transform: scale(1) rotate(0deg); /* Zoom out and complete the rotation */
  }
}

/* Apply the animation to the image */
.zoom-rotate-image {
  animation: zoomRotate 6s ease-in-out infinite; /* 6 seconds duration, smooth easing, infinite loop */
  transform-origin: center center; /* Ensure zoom and rotation happen from the center */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}

.tombol {
  font-family: "Ovo", serif;
  position: relative;
  z-index: 9999; /* Ensure it's on top */
  display: inline-block;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #385935;
  border: none;
  border-radius: 8px; /* Soft rounded corners */
  cursor: pointer;
  text-align: center; /* Center the text inside the button */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tombol:hover {
  background-color: #fabd00; /* Change color on hover */
}

.tombol:active {
  transform: scale(0.95); /* Slightly shrink when clicked */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ovo", serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
}

.lock-screen {
  padding: 0 !important;
  max-width: 520px !important;
  margin: 0 auto !important;
  text-align: center !important;
  overflow: hidden;
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.lock-container {
  margin: 100px 0px;
}

.lock-container h1 {
  margin: 0px;
  font-family: "the-seasons-bd";
  font-size: 77px;
  color: #555;
}

.and {
  font-size: 50px;
  vertical-align: top;
}

.lock-container h4 {
  margin: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 21px;
  color: #555;
}

.invite-to {
  margin-top: 120px;
}

.invite-to p {
  margin: 10px;
}

.container {
  padding: 0 !important;
  max-width: 520px !important;
  margin: 0 auto !important;
  text-align: center !important;
  overflow: hidden;
}

/* Header */
.header {
  padding-top: 80px;
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.header-top-left {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  margin: 0; /* Remove margin if not needed */
}

.header-bottom-right {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  margin: 0; /* Remove margin if not needed */
}

.header-content {
  margin: 100px 0px;
}

.header-content img {
  width: 60px;
  margin: 0px 0px 20px 0px;
}

.header h1 {
  margin: 20px 0px;
  font-family: "the-seasons-bd", serif;
  font-size: 77px;
  color: #555;
}

.header h4 {
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 21px;
  color: #555;
}

.nama-undangan {
  margin-top: 100px;
}

.header p {
  margin-top: 0 !important;
}

/* Invitation Section */
.invitation {
  background-image: url(img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
  font-size: 18px;
  color: #f8f4ef;
  height: 60vh;
  position: relative; /* The container should have relative positioning */
  width: 100%;
}

.invitation strong {
  font-size: 20px;
  color: #333;
}

.opening {
  position: relative; /* Allows z-index to work */
  z-index: 2; /* Ensure text is in front of images */
  padding: 20px; /* Optional: Add padding to position text */
  margin: 50px 0px;
}

.abbreviation img {
  width: 140px;
}

.hero-top-left {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  width: 250px;
  margin: 0; /* Remove margin if not needed */
}

.hero-bottom-right {
  z-index: 1;
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 250px;
  margin: 0; /* Remove margin if not needed */
}

.info {
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 100px 0px; /* Add padding if needed */
  color: #385935;
  position: relative;
  overflow: hidden;
}

.info-top-left {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  margin: 0; /* Remove margin if not needed */
}

.info-bottom-right {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 0; /* Remove margin if not needed */
}

.info-middle-right {
  z-index: 1;
  position: absolute;
  top: 350px;
  right: 0;
  width: 120px;
  margin: 0; /* Remove margin if not needed */
}

.info-middle-left {
  z-index: 1;
  position: absolute;
  top: 950px;
  left: 0;
  width: 100px;
  margin: 0; /* Remove margin if not needed */
}

.bismillah {
  width: 250px;
  margin: 50px 0px;
}

.info p {
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0px 40px 0px 40px; /* Add margin-bottom to create space for the image */
}

.mempelai h1 {
  margin: 20px 0px 0px 0px;
  font-family: "the-seasons-bd", serif;
  font-size: 50px;
}

.mempelai h2 {
  margin: 5px 0px 0px 0px;
  font-family: "the-seasons-bd", serif;
  font-size: 28px;
}

.mempelai h4 {
  margin: 25px 0px 0px 0px;
  font-size: 22px;
}

.mempelai {
  margin: 50px 0px 0px 0px;
  text-align: center; /* Center-align text and image */
  position: relative;
  z-index: 9999;
}

.instagram {
  margin: 30px 0px 0px 0px;
}

.instagram img {
  width: 60px;
}

.round-image {
  border-radius: 50%; /* Make the image round */
  width: 250px; /* Set the width of the round image */
  height: 250px; /* Set the height of the round image */
  object-fit: cover; /* Ensure the image covers the circle */
  margin-top: 20px; /* Space between the paragraph and the image */
}

/* Wedding Details */
.details {
  padding: 30px 0; /* Ensure consistent padding */
  background-image: url(img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #f8f4ef;
  position: relative; /* The container should have relative positioning */
  width: 100%;
}

.details-top-left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 140px;
  margin: 0; /* Remove margin if not needed */
}

.details-bottom-right {
  position: absolute;
  bottom: 230px;
  right: 0;
  width: 200px;
  margin: 0; /* Remove margin if not needed */
}

.details p {
  margin: 50px 40px 50px; /* Adjust margin for spacing */
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 2;
}

.card {
  background-image: url("img/card.png");
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 430px;
  margin-bottom: 90px;

  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100%; /* Ensure the card takes up full height */
}

.card h3,
.card h4,
.card h5,
.maps {
  /* Position text absolutely within the card */
  color: #385935; /* Ensure text is visible on the image */
  font-size: 21px;
  margin: 8px 0px;
}

.card h3 {
  font-family: "the-seasons-bd", serif;
  font-size: 36px;
  margin-top: 20px;
}

.card h5 {
  padding-left: 30px;
  padding-right: 30px;
}

.maps {
  margin-bottom: 30px;
}

.countdown {
  margin-bottom: 80px;
}

.countdown h3 {
  font-size: 24px;
  letter-spacing: 3px;
}

.gallery {
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 100px 0px;
  position: relative;
  overflow: hidden;
}

.gallery-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  margin: 0; /* Remove margin if not needed */
}

.gallery-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 0; /* Remove margin if not needed */
}

.gallery h2 {
  font-family: "the-seasons-bd", serif;
  font-size: 56px;
  color: #555;
}

.two-column-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
  gap: 20px; /* Space between the columns */
  width: 90%; /* Full width container */
  margin: 0 auto; /* Center the container */
}

.portrait img {
  width: 100%; /* Make the image take the full width of the column */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensures the image covers the entire area of the div */
  border-radius: 10px; /* Optional: Rounds the corners of the image */
}

.single-column-landscapes {
  display: flex;
  flex-direction: column; /* Stack the images vertically */
  gap: 20px; /* Space between the rows */
  width: 100%; /* Full width container */
  margin: 0 auto; /* Center the container */
}

.landscape img {
  width: 90%; /* Make the image take the full width of the container */
  height: 250px; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensures the image covers the entire area of the div */
  border-radius: 10px; /* Optional: Rounds the corners of the image */
}

.gallery2 {
  margin-top: 20px;
}

.gallery3 {
  margin-top: 20px;
}

.gallery-top-left,
.gallery-bottom-right {
  z-index: 0; /* Lower z-index to push behind other elements */
  position: absolute;
}

.portrait img,
.landscape img {
  z-index: 2; /* Higher z-index for the gallery images to be in front */
  position: relative; /* Ensure they are on top of the frame */
}

.invitation,
.gallery1,
.gallery2,
.gallery3 {
  position: relative; /* Ensure proper stacking of content */
  z-index: 1; /* Higher than the background frames */
}

.gift {
  background-image: url(img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 100px 0px;
  position: relative;
}

.gift-top-left {
  position: absolute;
  top: 30px;
  left: 0;
  width: 120px;
  margin: 0; /* Remove margin if not needed */
}

.gift-middle-right {
  position: absolute;
  bottom: 350px;
  right: 0;
  width: 180px;
  margin: 0; /* Remove margin if not needed */
}

.gift-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  margin: 0; /* Remove margin if not needed */
}

.gift h2 {
  font-family: "the-seasons-bd", serif;
  font-size: 56px;
  color: #f8f4ef;
}

.gift p {
  padding: 0px 30px 0px 30px;
  font-size: 21px;
  color: #f8f4ef;
  position: relative;
}

.gift-button {
  margin-top: 50px;
  background-color: #f8f4ef;
  color: #385935;
}

.hidden {
  display: none; /* Initially hide the div */
}

#hiddenContent {
  padding: 20px;
  margin-top: 10px;
}

#hiddenText {
  display: none; /* Hide the input field */
}

.giftcard {
  background-image: url(img/bg1.png);
  position: relative; /* Ensure the card is positioned relative to contain the text */
  text-align: center; /* Center-align text */
  margin: 0 auto; /* Center the card in its container */
  width: 430px;
  height: 280px;
  margin-bottom: 30px;
}

.giftcard img {
  margin: 20px auto;
  width: 50%;
}

.giftcard h5,
.giftcard .copy {
  position: absolute; /* Position text absolutely within the card */
  color: #385935; /* Ensure text is visible on the image */
  left: 50%;
  transform: translateX(-50%); /* Center text horizontally */
  font-size: 21px;
}

.giftcard h5 {
  letter-spacing: 2px;
  line-height: 1.4;
  width: 350px;
  top: 70px; /* Position near the bottom of the image */
}

.giftcard .copy {
  margin-top: 20px;
  bottom: 25px;
}

.wishes {
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px;
  position: relative;
  overflow: hidden;
  color: #555;
}

.wishes-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  margin: 0; /* Remove margin if not needed */
}

.wishes-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 0; /* Remove margin if not needed */
}

.wishes-top-left,
.wishes-bottom-right {
  z-index: 0; /* Lower z-index to push behind other elements */
  position: absolute;
}

.best-wishes {
  z-index: 2; /* Higher z-index for the gallery images to be in front */
  position: relative; /* Ensure they are on top of the frame */
}

.wishes h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "the-seasons-bd", serif;
  font-size: 56px;
}

.wishes p {
  padding: 0px 40px;
  font-size: 21px;
  position: relative;
}

.form-group {
  display: flex;
  flex-direction: column; /* Ensures label is above input */
  margin-bottom: 15px; /* Adds space between form fields */
}

.wish-card label {
  font-family: "the-seasons-reg";
  font-size: 20px;
  padding: 10px 0px;
}

.wish-card button {
  margin: 20px 0px;
}

label {
  margin-bottom: 5px; /* Adds space between label and input */
}

textarea {
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.form-control {
  margin: 0px 50px;
  font-size: 18px; /* Adjust the size as needed */
  padding: 10px; /* Optional: Adds padding to make the input fields look larger */ /* Optional: Makes the fields full width */
  box-sizing: border-box;
}

.closing {
  background-image: url(img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 100px 0px;
  position: relative;
  overflow: hidden;
}

.closing-top-left {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280px;
  margin: 0; /* Remove margin if not needed */
}

.closing-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  margin: 0; /* Remove margin if not needed */
}

.closing-top-left,
.closing-bottom-right {
  z-index: 0; /* Lower z-index to push behind other elements */
  position: absolute;
}

.closing-image,
.closing-text {
  z-index: 2; /* Higher z-index for the gallery images to be in front */
  position: relative; /* Ensure they are on top of the frame */
}

.closing-image img {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 75%;
  height: 240px;
  object-fit: cover;
}

.closing-text {
  font-size: 20px;
  color: #f8f4ef;
  margin: 0px 30px 0px 30px;
}

.closing-text h3 {
  font-family: "the-seasons-bd";
  font-size: 38px;
}

/* Footer */
.footer {
  padding: 20px;
  font-size: 16px;
  background-color: #262626;
  color: #e0e0e0;
  padding: 60px 0px 30px 0px;
}

.social-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adjusts space between logos */
}

.footer-social-logo {
  width: 40px; /* Adjust size as needed */
  height: auto;
  padding: 20px 30px;
}
