/* Global Styles */
@font-face {
    font-family: "the-seasons-reg";
    src: url("../font/the-seasons/the-seasons-regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "the-seasons-bd";
    src: url("../font/the-seasons/the-seasons-bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "the-seasons-italic";
    src: url("../font/the-seasons/the-seasons-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "the-seasons-light";
    src: url("../font/the-seasons/the-seasons-light.ttf") format("truetype");
  }

  @font-face {
    font-family: "pt-serif-reg";
    src: url("../font/pt-serif/PTSerif-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "pt-serif-bold";
    src: url("../font/pt-serif/PTSerif-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "pt-serif-italic";
    src: url("../font/pt-serif/PTSerif-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "cormorant-garamond-light";
    src: url("../font/cormorant-garamond/CormorantGaramond-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "cormorant-garamond-reg";
    src: url("../font/cormorant-garamond/CormorantGaramond-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "cormorant-garamond-bold";
    src: url("../font/cormorant-garamond/CormorantGaramond-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "yeseva-one";
    src: url("../font/yeseva-one/YesevaOne-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "alex-brush";
    src: url("../font/alex-brush/alex-brush.ttf") format("truetype");
  }