/* Global Styles */
@font-face {
  font-family: "quicksand-bold";
  src: url("../font/quicksand/quicksand-bold.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-light";
  src: url("../font/quicksand/quicksand-light.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-medium";
  src: url("../font/quicksand/quicksand-medium.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-regular";
  src: url("../font/quicksand/quicksand-regular.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-semibold";
  src: url("../font/quicksand/quicksand-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "sacramento";
  src: url("../font/sacramento/sacramento.ttf") format("truetype");
}
